body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(25, 25, 25);
  margin: 0;
  padding: 0;
  cursor: grab;
}

.titulo {
  margin-left: 30px;
}

button{
    margin: 20px auto;
    color: rgb(15, 14, 15);
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}


#MALBA {
  background: rgb(253, 224, 6);
  position: absolute;
  margin-top: 200px;
  margin-left: 300px;
}


#SanTelmo {
  background: rgb(48, 221, 176);
    position: absolute;
    margin-top: 400px;
    margin-left: 1000px;
  }

#ParquedelaMemoria {
  background: rgb(244, 172, 204);
    position: absolute;
    margin-top: 10%;
    margin-left: 20%;
  }

h1, h2, h3 {
    color: rgb(242, 241, 237);
}

span {
    color:rgb(242, 241, 237);
}

 
.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
 
.popup {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 500px;
    background: rgb(242, 241, 237);
    margin: 5% auto;
    padding: 20px;
    margin-top: 5%;
    position: relative;
}
 
.popup a {
    background: black;
    color:rgb(242, 241, 237);
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: black;
    transition: all 0.2s;
}

.popup h3 {
    color: black;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;
}

.wrapperpopup {
  margin-top: 35px;
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

/* ESPACIOS DE ARTE */
/*------------------*/

.imagenEspacios {
  text-align: left;
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#imagenEspacios {
  width: 100%;
}

.tituloEspacios {
  margin-top: 35%;
  margin-left: 0%;
  text-align: left;
  font-size: 2.8rem;
  font-weight: bold;
  grid-column: 3 / 4;
  grid-row: 2;
}

.hrTituloEspacios {
  margin-top: 68%;
  max-width: 60%;
  text-align: left;
  grid-column: 3 / 4;
  grid-row: 2;

}
.subtituloEspacios {
  margin-top: -2%;
  max-height: 20px;
  max-width: 60%;
  font-size: 0.6rem;
  grid-column: 1 / 4;
  grid-row: 3;
}
.contenidoEspacios {
  text-align: left;
  margin-top: 25px;
  max-height: 70%;
  font-size: 0.75rem;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}
.nombreCompletoEspacios {
  margin-left: -30px;
  max-width: 20px;
  max-height: 100%;
  text-align: end;
  font-size: 0.65rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1 / 5;
}


/* RECORRIDOS URBANOS*/
/*--------------------*/

.imagenRecorridos {
  text-align: left;
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#imagenRecorridos{
  width: 95%;
}

.tituloRecorridos {
  margin-top: 35%;
  margin-left: -8%;
  margin-right: -10%;
  text-align: left;
  font-size: 2.8rem;
  font-weight: bold;
  grid-column: 3 / 4;
  grid-row: 2;
}

.hrTituloRecorridos {
  margin-top: 68%;
  max-width: 60%;
  margin-left: -8%;
  text-align: left;
  grid-column: 3 / 4;
  grid-row: 2;

}
.subtituloRecorridos {
  margin-top: -2%;
  max-height: 20px;
  max-width: 60%;
  font-size: 0.6rem;
  grid-column: 1 / 4;
  grid-row: 3;
}
.contenidoRecorridos {
  text-align: left;
  margin-top: 25px;
  max-height: 70%;
  font-size: 0.75rem;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}
.nombreCompletoRecorridos {
  margin-left: -30px;
  max-width: 20px;
  max-height: 100%;
  text-align: end;
  font-size: 0.65rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1 / 5;
}

/*-----------------*/

/* OBRAS*/
/*--------------------*/

.imagenObras {
  text-align: left;
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

#imagenObras{
  width: 100%;
}

.tituloObras {
  margin-top: 35%;
  margin-left: 5%;
  text-align: left;
  font-size: 2.8rem;
  font-weight: bold;
  grid-column: 3 / 4;
  grid-row: 2;
}

.hrTituloObras {
  margin-top: 68%;
  margin-left: 5%;
  max-width: 60%;
  text-align: left;
  grid-column: 3 / 4;
  grid-row: 2;

}
.subtituloObras {
  margin-top: -2%;
  max-height: 20px;
  max-width: 60%;
  font-size: 0.6rem;
  grid-column: 1 / 4;
  grid-row: 3;
}
.contenidoObras {
  text-align: left;
  margin-top: 25px;
  max-height: 70%;
  font-size: 0.75rem;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}
.nombreCompletoObras {
  margin-left: -30px;
  max-width: 20px;
  max-height: 100%;
  text-align: end;
  font-size: 0.65rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1 / 5;
}

/*-----------------*/


.titulo {
    position: fixed;
}

#menu {
  font-size: 1.3rem;
  cursor:pointer
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 21%;
    left: 0;
    background-color: rgb(51, 50, 51);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color:rgb(242, 241, 237);
    display: block;
    transition: 0.3s;
  }

  .sidenav hr {
    margin-left: 32px;
    margin-right: 160px;
  }

  .sidenav a:hover {
    color:seashell;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .sidenav .recorridos, .recorridoshr {
    color: rgb(48, 221, 176);
  }
  
  .sidenav .espacios, .espacioshr {
    color: rgb(253, 224, 6);
  }
  
  .sidenav .obras, .obrashr {
    color: rgb(244, 172, 204);
  }

  .sidenav .general, .generalhr {
    color: rgb(242, 241, 237);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000047;
    cursor:initial;
  }

  .modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 400px);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    justify-content: space-around;
  }

  .info {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .info-text {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .info img {
    width: 55%;
  }

  .autor {
    background-color: black;
    color: #e4e4e4;
    padding: 4px 8px;
    font-size: 12px;
  }

  .titulo-rosa {
    color: #dc88a4;
    font-size: 27px;
    margin: 0;
    width: 215px;
  }

  .subtitulo {
    font-size: 15px;
  }

  .programa-container {
    font-size: 12px;
  }

  .programa {
    margin: 10px 0 0;
  }

  .lugar {
    font-weight: bold;
    margin: 0;
  }

  .fecha {
    margin: 0;
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text p {
    text-align: justify;
    width: 55%;
  }

  .button-container {
    width: 35%;
    position: relative;
    height: 100%;
    margin: 16px 0;
  }

  .button-container button {
    position: absolute;
    bottom: 16px;
    right: 0;
    background-color: #e4e4e4;
  }
  
