body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

button{
    margin: 20px auto;
    background: rgb(253, 224, 6);
    color: rgb(15, 14, 15);
    border: 0;
    padding: 6px 10px;
    cursor: pointer;
}

#MALBA {
  position: absolute;
  margin-top: 200px;
  margin-left: 300px;
}


.titulo {
  margin-left: 30px;
}


  .SanTelmo {
    position: absolute;
    margin-top: 400px;
    margin-left: 1000px;
  }

  .ParquedelaMemoria {
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
  }

h1, h2, h3 {
    color: rgb(242, 241, 237);
}

span {
    color:rgb(242, 241, 237);
}

 
.popup-wrapper {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}
 
.popup {
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 500px;
    background: rgb(242, 241, 237);
    margin: 5% auto;
    padding: 20px;
    margin-top: 5%;
    position: relative;
}
 
.popup a {
    background: black;
    color:rgb(242, 241, 237);
    text-decoration: none;
    padding: 6px 10px;
    margin: 30px auto;
    display: block;
    width: 50%;
}
 
.popup a:hover {
    background: black;
    transition: all 0.2s;
}

.popup h3 {
    color: black;
}
 
.popup-close {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    font-size: 2rem;
}

.wrapperpopup {
  margin-top: 35px;
  margin-left: 35px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.imagenarte {
  text-align: center;
  margin: auto;
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.tituloarte {
  margin-top: 35%;
  margin-left: -2%;
  text-align: left;
  font-size: 3.5rem;
  grid-column: 3 / 4;
  grid-row: 2;
}

.hrtitulo {
  margin-top: 68%;
  max-width: 60%;
  text-align: left;
  grid-column: 3 / 4;
  grid-row: 2;

}
.subtituloarte {
  margin-top: -2%;
  max-height: 20px;
  max-width: 60%;
  font-size: 0.6rem;
  grid-column: 1 / 4;
  grid-row: 3;
}
.contenidoarte {
  text-align: left;
  margin-top: 25px;
  max-height: 70%;
  font-size: 0.75rem;
  grid-column: 1 / 4;
  grid-row: 3 / 5;
}
.nombrecompletoarte {
  margin-left: -30px;
  max-width: 20px;
  max-height: 100%;
  text-align: end;
  font-size: 0.65rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  grid-column: 1;
  grid-row: 1 / 5;
}

.popup .tituloespaciosdiv {
  display: block;
  margin-left: 70%;
  background-color: rgb(51, 50, 51);
  
}

.popup .tituloespaciosdiv .tituloespacios {
  width: 100%;
  
}

.popup .imagenespaciosdiv {
  display: block;
  margin-top: 25px;
  margin-left: 40px;
  width: 60%;
  height: 50%;
  max-height: 200px;
}


#imagen {
  width: 100%;
}


.titulo {
    position: fixed;
}

#menu {
  font-size: 1.3rem;
  cursor:pointer
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 21%;
    left: 0;
    background-color: rgb(51, 50, 51);
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color:rgb(242, 241, 237);
    display: block;
    transition: 0.3s;
  }

  .sidenav hr {
    margin-left: 32px;
    margin-right: 160px;
  }

  .sidenav a:hover {
    color:seashell;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .sidenav .recorridos, .recorridoshr {
    color: rgb(48, 221, 176);
  }
  
  .sidenav .espacios, .espacioshr {
    color: rgb(253, 224, 6);
  }
  
  .sidenav .obras, .obrashr {
    color: rgb(244, 172, 204);
  }

  .sidenav .general, .generalhr {
    color: rgb(242, 241, 237);
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  
